@import url('https://fonts.googleapis.com/css?family=Cookie');
@charset "UTF-8";

h1 {
  color: white;
  font-size: 3em
}

/**
  Snow
**/

.drop {
	position: absolute;
	top: 0;
	z-index: -1;
  opacity: 0;
}
.snow {
  height: 8px;
	width: 8px;
	border-radius: 100%;
	background-color: white;
  box-shadow: 0 0 10px white;
}

.animate {
	animation: falling 8.5s infinite ease-in;
}

@keyframes falling {
	0% {top: 0; opacity: 1;}
	100% {top: 1500px; opacity: 0}
}

body {
  width: 100%;
  background-color: #F5624d;
  font-family: 'Cookie', cursive;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.tree {
  position: relative;
  width: 100vw;
  height: 80vh;
  min-height: 550px;
}

div.img {
  position: absolute;
  background-image: url('../img/tree1.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
}

div#star {
  position: absolute;
  top: -40px;
  margin: auto;
  width: 100%;
  font-size: 5em;
  z-index: 5;
}

div.ball {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  display: flex;
  align-items:center;
  justify-content:center;
  font-size: 24px;
}

div.ball-red {
  background-color: #cc231e;
  box-shadow: 0 0 10px #F5624D;
}

div.ball-yellow {
  background-color: #F3AA15;
    box-shadow: 0 0 10px #FFFED3;
}

div.ball-blue {
  background-color: #1C58D1;
  box-shadow: 0 0 15px #719CF1;
}

div.ball-l {
  height: 48px;
	width: 48px;
	border-radius: 100%;
}

div.ball-m {
  height: 40px;
	width: 40px;
	border-radius: 100%;
}

div.ball-s {
  height: 32px;
	width: 32px;
	border-radius: 100%;
}

div#ball1 {
  top: 8%;
}

div#ball2 {
  top: 18%;
  left: -60px;
}

div#ball3 {
  top: 45%;
  left: 30px;
}

div#ball4 {
  top: 20%;
  left: 140px;
}

div#ball5 {
  top: 28%;
  left: 100px;
}

div#ball6 {
  top: 46%;
  left: 250px;
}

div#ball7 {
  top: 29%;
  left: -140px;
}

div#ball8 {
  top: 35%;
  left: -50px;
}

div#ball9 {
  top: 34%;
  left: 180px;
}

div#ball10 {
  top: 43%;
  left: -180px;
}

div#ball11 {
  top: 52%;
  left: -280px;
}

div#ball12 {
  top: 59%;
  left: -300px;
}

div#ball13 {
  top: 68%;
  left: -260px;
}

div#ball14 {
  top: 75%;
  left: -380px;
}

div#ball15 {
  top: 80%;
  left: -200px;
}

div#ball16 {
  top: 67%;
  left: -100px;
}

div#ball17 {
  top: 74%;
  left: 10px;
}

div#ball18 {
  top: 82%;
  left: 70px;
}

div#ball19 {
  top: 82%;
  left: 280px;
}

div#ball20 {
  top: 76%;
  left: 400px;
}

div#ball21 {
  top: 55%;
  left: 240px;
}

div#ball22 {
  top: 66%;
  left: 160px;
}

div#ball23 {
  top: 59%;
  left: 20px;
}

div#ball24 {
  top: 44%;
  left: 160px;
}
