@import url('https://fonts.googleapis.com/css?family=Cookie');
@charset "UTF-8";

h1 {
  color: white;
  font-size: 4em
}

/**
Snow
**/
.drop {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
}
.snow {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0 0 10px white;
}

.animate {
  animation: falling 8.5s infinite ease-in;
}

@keyframes falling {
  0% {top: 0; opacity: 0;}
  5% {top: 0; opacity: 1; }
  100% {top: 90%; opacity: 0}
}

body {
  width: 100%;
  background-color: #070B34;
  font-family: 'Cookie', cursive;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.container h2 {
  color: white;
  font-size: 3em;
}

@media only screen and (orientation: landscape) {
  .tree {
    max-width: 600px;
  }
  .star {
    font-size: 5em !important;
  }
  div.ball-l {
    height: 48px !important;
    width: 48px !important;
  }

  div.ball-m {
    height: 40px !important;
    width: 40px !important;
  }

  div.ball-s {
    height: 32px !important;
    width: 32px !important;
  }

  div.ball {
    font-size: 24px !important;
  }
}

.tree {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  height: 60vh;
  min-height: 550px;
}

div.img {
  position: absolute;
  background-image: url('../img/tree1.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
}

div#star {
  position: absolute;
  top: -60px;
  margin: auto;
  width: 100%;
  font-size: 80px;
}

div.ball {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  display: flex;
  align-items:center;
  justify-content:center;
  font-size: 2vh;
  cursor: pointer;
}

div.ball-red {
  background-image: radial-gradient(circle 25px at 60% 15%, #ef9073, #cc231e, #cc231e);
  box-shadow: 0 0 10px #E44A3E;
}

div.ball-yellow {
  background-image: radial-gradient(circle 25px at 60% 15%, #f4dd77, #F3AA15, #F3AA15);
  box-shadow: 0 0 10px #FDD433;
}

div.ball-green {
  background-image: radial-gradient(circle 25px at 60% 15%, #a0ce63, #357920, #357920);
  box-shadow: 0 0 10px #5F8E2B;
}

div.ball-l {
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 100%;
}

div.ball-m {
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 100%;
}

div.ball-s {
  height: 3vh;
  width: 3vh;
  border-radius: 100%;
}

div#ball1 {
  top: 8%;
}

div#ball2 {
  top: 18%;
  left: -15%;
}

div#ball3 {
  top: 45%;
  left: 4%;
}

div#ball4 {
  top: 20%;
  left: 20%;
}

div#ball5 {
  top: 29%;
  left: 8%;
}

div#ball6 {
  top: 46%;
  left: 35%;
}

div#ball7 {
  top: 29%;
  left: -25%;
}

div#ball8 {
  top: 35%;
  left: -10%;
}

div#ball9 {
  top: 34%;
  left: 32%;
}

div#ball10 {
  top: 43%;
  left: -35%;
}

div#ball11 {
  top: 52%;
  left: -18%;
}

div#ball12 {
  top: 59%;
  left: -45%;
}

div#ball13 {
  top: 72%;
  left: -48%;
}

div#ball14 {
  top: 80%;
  left: -62%;
}

div#ball15 {
  top: 80%;
  left: -25%;
}

div#ball16 {
  top: 67%;
  left: -15%;
}

div#ball17 {
  top: 74%;
  left: 4%;
}

div#ball18 {
  top: 82%;
  left: 20%;
}

div#ball19 {
  top: 78%;
  left: 42%;
}

div#ball20 {
  top: 70%;
  left: 58%;
}

div#ball21 {
  top: 55%;
  left: 50%;
}

div#ball22 {
  top: 66%;
  left: 34%;
}

div#ball23 {
  top: 59%;
  left: 3%;
}

div#ball24 {
  top: 55%;
  left: 25%;
}

.day {
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   display: none;
}

.day h1 {
  margin: 10px 0;
  font-size: 2em;
}

.day, h2 {
  /* margin-top: 10px; */
}

#popup {
   position: relative;
   width: 80%;
   height: 80%;
   background-image: url("../img/popup_bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left bottom;
   margin: auto;
   top: 10%;
   font-size: 1.5em;
   font-family: "Helvetica";
   overflow: scroll;
}

#popup .overlay {
  position: absolute;
  display: inline-block;
  max-width: 100%;
  margin: 30px;
  padding: 30px;
  background: rgba(0,0,0,0.6);
  color: white;
}

#popup .overlay a {
  color: white;
}

#popup .overlay a:hover {
  color: red;
}

#popup .overlay img {
  max-width: 100%;
}


#close {
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
   color: white;
   font-size: 2em;
}
